
:: Place this file somewhere

@ECHO OFF
:: Uncomment this line and write true path
:: cd C:\chrome\node

SETLOCAL EnableDelayedExpansion

:: Fill all variables:

set ODOO_SSL=no
set ODOO_HOST=
set ODOO_PORT=80
set ODOO_DB=
set ODOO_USERNAME=
set ODOO_PASSWORD=
set SERVER_TITLE=Local Server Title

:: Start node
node app.js

ENDLOCAL
